@import './base.css';

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

#app {
  max-width: 1280px;
  margin: 0 ;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

.no-scrollbar::-webkit-scrollbar{
  display: none;
}

.no-scrollbar{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-bg-opacity{
  background-color: rgba(16, 20, 30, 0.5);
}

.custom-bg-opacity:hover{
    background-color: white;

}

.custom-white-opacity{
  background-color: rgba(255, 255, 255, 0.3);
}

@theme{
    --color-red: #FC4747;
    --dark-blue: #10141E;
    --greyish-blue: #5A698F;
    --semi-dark-blue: #161D2F;
}

@media (hover: hover) {

}

@media (min-width: 1024px) {
 
}


